.hidden {
    display: none;
}

.plus-jakarta-font {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal
}

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 1px #333;
    background-color: rgb(255, 155, 79);
    border-radius: 10px;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1; 
}

section {
    margin: 20px 20px;
}

#quench-title {
    background-image: url(../images/quench-title-background1.jpg);
    background-size: cover;
    opacity: 0.9;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 14px;
    border: solid 5px rgb(15, 79, 131);
}

#quench-title h2 {
    color: orange;
    font-style: italic;
    font-size: 76px;
    text-shadow: 5px 5px 2px black;
}



